
div {
    background-color: var(--primary); 
    color: var(--text-regular);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    height: 10vh;
    #logo{
       max-height: 9vh;
       width: auto;
        
    }
}